[Unit]
Description=EC3k server
After=basic.target
[Service]
Type=simple
ExecStart=/usr/bin/ec3k-server
Restart=on-abort
#User=ec3k
StandardOutput=syslog
[Install]
WantedBy=multi-user.target
